Flask==0.9
Flask-Mako==0.2
Flask-OpenID==1.1.1
Flask-SQLAlchemy==0.16
Flask-Script==0.5.1
Flask-Testing==0.4
Jinja2==2.6
Mako==0.7.3
MarkupSafe==0.15
SQLAlchemy==0.7.9
Werkzeug==0.8.3
argparse==1.2.1
coverage==3.6b1
distribute==0.6.24
gevent==0.13.8
gevent-socketio==0.3.5-rc2
gevent-websocket==0.3.6
greenlet==0.4.0
gunicorn==0.16.1
mock==1.0.1
nose==1.2.1
psycopg2==2.4.5
python-openid==2.2.5
redis==2.7.2
srcdspy==1.1
twill==0.9
wsgiref==0.1.2
