body {
	padding-top: 40px;
}

table {
	background: transparent;
}

.icon-white {
	color: #ffffff;
}

.btn-small .caret {
	margin-top: 9px;
}

/* app container (for backbone) */
#app-container {
	min-height: 740px;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

/* lobby items */

ul#lobbylist {
	list-style: none;
	display: list-item;
	margin: 0px 5px 0px 5px;
}

#lobbylist-box {
	height: 300px;
	overflow: auto;
	position: relative;
	padding: 5px 5px 5px 5px;
	margin: 0px 0px 10px 0px;
	border: 1px black solid;
}

.lobbyitem {
	height: 100px;
	display: block;
	background: url('/static/images/litembg.png');
	padding: 4px 4px 4px 4px;
	border: 1px #575757 solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.lobbyitem .title,
.lobbyitem .players,
.lobbyitem .map {
	position: relative;
	display: block;
}

.lobbyitem .title {
	float: left;
	top: 6px;
	left: 6px;
	color: #ffffff;
}

.lobbyitem .players {
	text-align: right;
	float: right;
	bottom: -70px;
	right: -52px;
	color: #ffffff;
}

.lobbyitem .map {
	font-weight: bold;
	float: right;
	text-align: right;
	top: 6px;
	right: 20px;
	color: #ffffff;
}

/* lobby details */

.lobbydetails {
	/* font-family: Helvetica; */
}

.lobbydetails .lobbyheader {
	
}

.lobbydetails .option-value {

}

.map-details {
	text-align: left;
	padding: 0px;
	display: block;
}

.map-details .map-name {
	font-weight: bold;
}

.map-img {
	border: 1px black solid;
}

/* class selection */

#class-selection {
	padding: 5px 0px 5px 0px;
	margin-left: 23%;
	margin-right: 23%;
}

.classicon {
	position: relative;
	width: 24px;
	height:24px;
}

/* lobby players table */

.lobbytable {
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}

.lobbytable .redh,
.lobbytable .bluh {
	text-align: center;
	font-size: x-large;
	font-family: "Arial";
	vertical-align: text-top;
	color: white;
	padding: 5px;
	width: 200px;
	-webkit-font-smoothing: antialiased;
	cursor: pointer;
}

.lobbytable .redh {
	background-color: #c15143;
}

.lobbytable .bluh {
	background-color: #80a1c2;
}

ul.teamplayerlist {
	margin: 0px 0px 0px 0px;
}

ul.teamplayerlist li {
	list-style: none;
	display: block;
	padding: 5px;
	margin-bottom: 2px;
	margin-top: 2px;
	font-family: "Arial";
	font-weight: bold;
	font-size: 16px;
	color: #ffffff;
	height: 21px;
	border: 1px #575757 solid;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;	
	-webkit-font-smoothing: antialiased;
}

#bluteamlist .teamplayerlist .avatar {
	float: left;
}

#bluteamlist .teamplayerlist .playerinfo {
	float: left;
}

#bluteamlist .playerinfo .name {
	float: left;
	vertical-align: text-top;
}

#bluteamlist .classicon {
	position: relative;
	float: right;
	top: -2px;
	width: 24px;
	height:24px;
}

#bluteamlist li {
	background: rgb(30,87,153); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(30,87,153,1) 0%, rgba(30,87,153,1) 15%, rgba(128,161,194,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(30,87,153,1)), color-stop(15%,rgba(30,87,153,1)), color-stop(100%,rgba(128,161,194,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 15%,rgba(128,161,194,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 15%,rgba(128,161,194,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 15%,rgba(128,161,194,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(30,87,153,1) 0%,rgba(30,87,153,1) 15%,rgba(128,161,194,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#80a1c2',GradientType=1 ); /* IE6-9 */
}

#redteamlist .teamplayerlist .avatar {
	float: right;
}

#redteamlist .teamplayerlist .playerinfo {
	float: right;
}

#redteamlist .playerinfo .name {
	float: right;
	vertical-align: text-top;
}

#redteamlist .classicon {
	position: relative;
	float: left;
	top: -2px;
	width: 24px;
	height:24px;
}

#redteamlist li {
	background: rgb(193,81,67); /* Old browsers */
	background: -moz-linear-gradient(left, rgba(193,81,67,1) 0%, rgba(170,47,47,1) 85%, rgba(170,47,47,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(193,81,67,1)), color-stop(85%,rgba(170,47,47,1)), color-stop(100%,rgba(170,47,47,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, rgba(193,81,67,1) 0%,rgba(170,47,47,1) 85%,rgba(170,47,47,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, rgba(193,81,67,1) 0%,rgba(170,47,47,1) 85%,rgba(170,47,47,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, rgba(193,81,67,1) 0%,rgba(170,47,47,1) 85%,rgba(170,47,47,1) 100%); /* IE10+ */
	background: linear-gradient(to right, rgba(193,81,67,1) 0%,rgba(170,47,47,1) 85%,rgba(170,47,47,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c15143', endColorstr='#aa2f2f',GradientType=1 ); /* IE6-9 */
}
ul#specteamlist li {
	list-style: none;
	display: block;
	margin: 0px;
}

#specteamlist .name {
	float: left;
	vertical-align: text-top;
	margin-right: 5px;
}

/* admin */
#admin-lobby-list {
	list-style: none;
	display: list-item;
	margin: 5px 5px 5px 5px;
}

#admin-lobby-list .picked {
	background-color: #54748b;
	color: #ffffff;
}

.admin-lobbyitem {
	border: 1px #575757 solid;
	color: #ffffff;
	background-color: #737373;
	margin: 5px 5px 5px 5px;
}

.admin-lobbytable {
	background-color: #ffffff;
}

.admin-lobbytable .redh,
.admin-lobbytable .bluh {
	text-align: center;
	vertical-align: text-top;
	padding: 5px 30px 5px 30px;
	border: none;
	color: #ffffff;
}

.admin-lobbytable .redh {
	background-color: #c15143;
}

.admin-lobbytable .bluh {
	background-color: #80a1c2;
}

ul.admin-lobbyplayers {
	list-style: none;
	margin: 0 0 0 0;
	text-align: center;
}

.admin-lobbyplayers .ui-selecting {
	background-color: #999999;
	color: #000000;
}

.admin-lobbyplayers .ui-selected {
	background-color: #54748b;
	color: #ffffff;
}

.admin-red-player,
.admin-blu-player {

}

.lpt-label {
	display: inline;
}

/* bootstrap */

.tooltip-inner {
	max-width: 500px;
}

.tooltip.in {
	opacity: 1.0;
	filter: alpha(opacity=100);
}

.navbar {
	margin-bottom: 5px;
	border-bottom: 1px #575757 solid;
	-webkit-box-shadow:0px 0px 20px rgba(0,0,0,1.0);
	-moz-box-shadow:0px 0px 20px rgba(0,0,0,1.0);
	box-shadow:0px 0px 20px rgba(0,0,0,1.0);
}

.navbar .nav > li > a, .navbar .nav > li > a:hover{
	-webkit-font-smoothing: antialiased;
	font-weight: 500;
}

i {
	position: relative;
	top: 1px;
	font-size: 1.2em;
	-webkit-font-smoothing: antialiased;
}

.navbar .brand {
	color: #54748b;
	cursor: pointer;
}

.navbar .brand:hover {
	color: #dedede;
}

.navbar .username {
	position: relative;
	top: 1px
}

.navbar-inner {
	background: rgb(83,90,99); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(83,90,99,1) 0%, rgba(39,42,45,1) 36%, rgba(12,16,18,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,90,99,1)), color-stop(36%,rgba(39,42,45,1)), color-stop(100%,rgba(12,16,18,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(83,90,99,1) 0%,rgba(39,42,45,1) 36%,rgba(12,16,18,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(83,90,99,1) 0%,rgba(39,42,45,1) 36%,rgba(12,16,18,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(83,90,99,1) 0%,rgba(39,42,45,1) 36%,rgba(12,16,18,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(83,90,99,1) 0%,rgba(39,42,45,1) 36%,rgba(12,16,18,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535a63', endColorstr='#0c1012',GradientType=0 ); /* IE6-9 */
	border: 0;
}

.navbar-fixed-top .container, .navbar-fixed-bottom .container {
	width: 940px;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle
{
	background-color: transparent;
	color: #ffffff;
}

.navbar .nav > li > a,
.navbar .nav > li > a:hover
{
	text-shadow: 0 0 8px black;
	padding: 5px 11px 5px 11px;
	color: #999999;
	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
}

.navbar .nav > li > a:hover
{
	color: #ffffff;
}

.navbar .nav .active > a, 
.navbar .nav .active > a:hover,
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle 
{
	background-color: rgba(49,56,65,0.5);
	box-shadow:inset 0 0 8px #000000;
	border-left: 1px #000000 solid;
	border-right: 1px #000000 solid;
	color: #ffffff;
}

.nav-collapse.collapse {
	overflow: visible !important;
}

.row a, 
.row a:visited, 
.row a:active {
	color: #456292;
}

.row a:hover
{
	color: #42526e;
}

.dropdown-menu .divider {
	margin: 2px 1px;
	border-color: #8f8f8f;
}

.dropdown-menu a,
.dropdown-menu a:visited {
	color: #dbdbdb;
}

.dropdown-menu li > a:hover,
.dropdown-menu .active > a:hover {
	color: #ffffff;
	text-decoration: none;
	background: #6b6b6b;
	background: -moz-linear-gradient(top,  rgba(83,90,99,1) 0%, rgba(39,42,45,1) 50%, rgba(12,16,18,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(83,90,99,1)), color-stop(50%,rgba(39,42,45,1)), color-stop(100%,rgba(12,16,18,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(12,16,18,1) 0%,rgba(28,28,28,1) 50%,rgba(12,16,18,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(83,90,99,1) 0%,rgba(39,42,45,1) 50%,rgba(12,16,18,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(83,90,99,1) 0%,rgba(39,42,45,1) 50%,rgba(12,16,18,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(83,90,99,1) 0%,rgba(39,42,45,1) 50%,rgba(12,16,18,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#535a63', endColorstr='#0c1012',GradientType=0 ); /* IE6-9 */
	outline: 0;
}

.dropdown-menu .header {
	background: #efefef; 
	padding: 4px; 
	margin: 0px 0px 8px 0px; 
	border: 1px solid #dedede;
	font-weight: bold;
}

.row {
	padding: 8px 0 8px;
}

.row-white {
	color: #383838;
	padding: 8px 20px 8px 20px;
	background-color: #fafafa;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	-webkit-box-shadow:0px 2px 30px rgba(0,0,0,1.0);
	-moz-box-shadow:0px 2px 30px rgba(0,0,0,1.0);
	box-shadow:0px 2px 30px rgba(0,0,0,1.0);
}

.row-white td,
.row-white th {
	vertical-align:top;
}

/* reduce margin to improve dropdowns */
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
	margin-top: 0;
}

input[type="checkbox"]{
	margin: -1px 2px 0px 0px;
}
